* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    padding-left: 43px;
    padding-right: 43px;
    font-family: "Roboto", sans-serif;
    max-width: 1512px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.header_container {
    max-height: 241px;
    padding-top: 47px;
    padding-bottom: 111px;
    display: flex;
    flex-wrap: wrap;

    .left_box {
        font-size: 20px;

        p {
            color: rgba(0, 0, 0, 0.452);
        }


    }
    .right_box {
        display: flex;
        color: rgba(0, 0, 0, 0.452);

        div {
            display: flex;
            gap: 4px;
        }

        .monthly  {
        color: rgba(0, 0, 0, 0.459);
        right: 200px;
        top: 47px;

        .background_monthly {
            height: 10px;
            width: 30px;
            padding-top: 15px;
            margin-top: 2px;
            border: hidden;
            border: 2px solid black;
            border-radius: 20px;
            background-color: black;
            position: relative;

        }
        
        .btn_monthly {
            border: 2px solid rgb(0, 0, 0);
            border-radius: 20px;
            height: 10px;
            width: 10px;
            padding-top: 12px;
            margin-top: 2px;
            position: absolute;
            right: -2px;
            bottom: -1px;
        }
        }

        .yearly {
        color: rgba(0, 0, 0, 0.459);
        right: 123px;
        top: 47px;

        .background_yearly {
        height: 10px;
        width: 30px;
        padding-top: 15px;
        margin-top: 2px;
        border: hidden;
        border: 2px solid gray;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        position: relative;
        display: inline-block;
        }

        .btn_yearly {
            border: 2px solid gray;
            border-radius: 20px;
            height: 10px;
            width: 10px;
            padding-top: 12px;
            margin-top: 2px;
            position: absolute;
            left: -2px;
            bottom: -1px;
        }
    }
    }
}

.cards {
    max-width: 1426px;
    max-height: 919px;
    display: flex;
    flex-wrap: wrap;
    gap: 41px;

    .card {
        min-width: 385px;
        max-height: 919px;
        border-radius: 20px;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.089);
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        flex-basis: calc(100% / 3 - (41 * 2) / 3);
        flex-shrink: 0;
        flex-grow: 1;
        flex-wrap: wrap;

        .grey_color {
            color: rgba(0, 0, 0, 0.226);
        }

        .info_plan {
            padding: 30px;
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .price {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            font-size: 25px;

            .numbers {
                font-size: 80px;
                font-weight: 800;
            }

            .background_sale {
                padding: 5px;
                background-color: grey;
                border-radius: 10px;
            }

            button {
                width: 80%;
                padding: 25px 100px;
                border-radius: 10px;
                border: none;
                background-color: #6500ff;
                color: white;
            }
        }

    }
    
}

.card:nth-child(2) {
    background-color: #6500ff;
    color: white;
    
    .grey_color {
        color: white;
    }
    &>.price button {
        color: #6500ff;
        background-color: white;
    }

}


ul {
    list-style: none;
    display: block;
    display: flex;
    flex-wrap: wrap;
    max-width: 385px;
    margin: 0px auto;
    gap: 30px 0px;
    padding: 2rem;
    
    li {
        flex-basis: calc(100% / 6);
        flex-grow: 0;
        flex-shrink: 1;
        min-width: 385px;
    }
}

/* .detail_plan {
    list-style: none;
    max-width: 385px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
        flex-basis: calc(100% / 2 - 10px);
        flex-shrink: 0;
        flex-grow: 1;
        min-width: 180px;
        
    }
} */











/* .detail_plan {
    max-width: 385px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    li {
        flex-basis: 20px;
        text-align: center;
        padding: 25px 0px;
        margin: 0px;
    }
} */